<nav class="vm-mobile-alt-nav vm-home-mobile-nav vm-mobile-bottom-nav" aria-label="Mobile primary navigation">
    <a href="{% url 'index' %}" class="{% if mobile_nav_key == 'home' %}is-active{% endif %}" aria-label="Home"><i class="fas fa-home"></i></a>
    <a href="{% url 'shop' %}" class="{% if mobile_nav_key == 'shop' %}is-active{% endif %}" aria-label="Shop"><i class="far fa-store"></i></a>
    <a href="{% url 'cart' %}" class="{% if mobile_nav_key == 'cart' %}is-active{% endif %}" aria-label="Cart"><i class="far fa-shopping-cart"></i></a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile' %}" class="{% if mobile_nav_key == 'account' %}is-active{% endif %}" aria-label="Account"><i class="far fa-user"></i></a>
    {% else %}
    <a href="{% url 'login' %}" class="{% if mobile_nav_key == 'account' %}is-active{% endif %}" aria-label="Account"><i class="far fa-user"></i></a>
    {% endif %}
    <a href="{% url 'wishlist' %}" class="{% if mobile_nav_key == 'wishlist' %}is-active{% endif %}" aria-label="Wishlist"><i class="far fa-heart"></i></a>
</nav>
