{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}VibeMall{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}VibeMall - Online shopping destination.{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}ecommerce, online shopping, fashion, deals{% endblock %}">
    <meta name="author" content="VibeMall">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="canonical" href="{% block canonical_url %}{% if site_url %}{{ site_url }}{{ request.path }}{% else %}{{ request.scheme }}://{{ request.get_host }}{{ request.path }}{% endif %}{% endblock %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{% if site_url %}{{ site_url }}{{ request.path }}{% else %}{{ request.scheme }}://{{ request.get_host }}{{ request.path }}{% endif %}{% endblock %}">
    <meta property="og:title" content="{% block og_title %}VibeMall{% endblock %}">
    <meta property="og:description" content="{% block og_description %}VibeMall - Online shopping destination.{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'assets/img/logo/vibemall-brand.png' %}{% endblock %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{% block twitter_url %}{% if site_url %}{{ site_url }}{{ request.path }}{% else %}{{ request.scheme }}://{{ request.get_host }}{{ request.path }}{% endif %}{% endblock %}">
    <meta property="twitter:title" content="{% block twitter_title %}VibeMall{% endblock %}">
    <meta property="twitter:description" content="{% block twitter_description %}VibeMall - Online shopping destination.{% endblock %}">
    <meta property="twitter:image" content="{% block twitter_image %}{% static 'assets/img/logo/vibemall-brand.png' %}{% endblock %}">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom-fixes.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    <script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-bundle.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
