{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/footer-custom.css' %}">
<footer>
        <div class="fotter-area d-dark-bg">
            <div class="footer__top pt-80 pb-15">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-4 order-last-md footer-sections-left">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 footer-col-categories">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title">
                                            <h4>All Categories</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <div class="footer__link">
                                                <ul>
                                                    {% if header_categories %}
                                                        {% for category in header_categories %}
                                                            <li>
                                                                <a href="{% url 'shop' %}?category={{ category.key }}">{{ category.label }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    {% else %}
                                                        <li><a href="{% url 'shop' %}">Women Wear</a></li>
                                                        <li><a href="{% url 'shop' %}">Watch</a></li>
                                                        <li><a href="{% url 'shop' %}">Home &amp; Kitchen</a></li>
                                                        <li><a href="{% url 'shop' %}">Jewellery</a></li>
                                                        <li><a href="{% url 'shop' %}">Mens Wear</a></li>
                                                        <li><a href="{% url 'shop' %}">Beauty &amp; Shoes</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 footer-col-pages">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title">
                                            <h4>Pages</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <div class="footer__link">
                                                <ul>
                                                    <li><a href="{% url 'index' %}">Home</a></li>
                                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                                    <li><a href="{% url 'shop' %}">Shop</a></li>
                                                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                                    <li><a href="{% url 'faq' %}">FAQs</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8 order-first-md footer-sections-right">
                            <div class="footer__top-left">
                                <div class="row">
                                    
                                    <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6 footer-sections-account-quick">
                                        <div class="row">
                                            
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 footer-col-account">
                                                <div class="footer__widget">
                                                    <div class="footer__widget-title">
                                                        <h4>My Account</h4>
                                                    </div>
                                                    <div class="footer__widget-content">
                                                        <div class="footer__link">
                                                            <ul>
                                                                <li><a href="{% url 'cart' %}">Cart</a></li>
                                                                <li><a href="{% url 'wishlist' %}">Wish List</a></li>
                                                                <li><a href="{% url 'order_list' %}">My Order</a></li>
                                                                <li><a href="{% url 'track_order' %}">Order Tracking</a></li>
                                                                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 footer-col-quick">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title">
                                            <h4>Quick Links</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <div class="footer__link">
                                                <ul>
                                                    <li><a href="{% url 'profile' %}">My Account</a></li>
                                                    <li><a href="{% url 'track_order' %}">Order Tracking</a></li>
                                                    <li><a href="{% url 'faq' %}">FAQs</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div></div>
                                    </div><div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 footer-col-support">
                                        <div class="footer__widget">
                                            <div class="footer__widget-content">
                                                <div class="footer__hotline d-flex align-items-center mb-10">
                                                    <div class="icon mr-15">
                                                        <i class="fal fa-headset"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h4>Need Help? Support 24/7</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="container">
                    <div class="footer__bottom-content pt-55 pb-45">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="footer__links text-center mb-25">
                                    <p>
                                        <a href="{% url 'index' %}">Home</a>
                                        <a href="{% url 'about' %}">About Us</a>
                                        <a href="{% url 'shop' %}">Shop</a>
                                        <a href="{% url 'blog' %}">Blog</a>
                                        <a href="{% url 'contact' %}">Contact Us</a>
                                        <a href="{% url 'faq' %}">FAQs</a>
                                        <a href="{% url 'order_list' %}">My Orders</a>
                                        <a href="{% url 'track_order' %}">Order Tracking</a>
                                        <a href="{% url 'wishlist' %}">Wishlist</a>
                                        <a href="{% url 'cart' %}">Cart</a>
                                        <a href="{% url 'checkout' %}">Checkout</a>
                                        <br>
                                        {% if header_categories %}
                                            {% for category in header_categories|slice:":8" %}
                                                <a href="{% url 'shop' %}?category={{ category.key }}">{{ category.label }}</a>
                                            {% endfor %}
                                        {% else %}
                                            <a href="{% url 'shop' %}">Women Wear</a>
                                            <a href="{% url 'shop' %}">Watch</a>
                                            <a href="{% url 'shop' %}">Home &amp; Kitchen</a>
                                            <a href="{% url 'shop' %}">Jewellery</a>
                                            <a href="{% url 'shop' %}">Mens Wear</a>
                                            <a href="{% url 'shop' %}">Beauty &amp; Shoes</a>
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="payment-image text-center mb-25">
                                    <a href="contact.html"><img src="{% static 'assets/img/payment/payment.png' %}" alt=""></a>
                                </div>
                                <div class="copy-right-area text-center">
                                    <p>Copyright © <span>{{ site_settings.site_name|default:"VibeMall" }}.</span> All Rights Reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-mobile-shell d-md-none" style="display:none;">
            <div class="container">
                <div class="footer-mobile-accordion">
                    <details class="footer-mobile-item">
                        <summary>Shop Now</summary>
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'shop' %}">Shop</a></li>
                            <li><a href="{% url 'cart' %}">Cart</a></li>
                            <li><a href="{% url 'checkout' %}">Checkout</a></li>
                        </ul>
                    </details>

                    <details class="footer-mobile-item">
                        <summary>Useful Links</summary>
                        <ul>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            <li><a href="{% url 'faq' %}">FAQs</a></li>
                            <li><a href="{% url 'profile' %}">My Account</a></li>
                            <li><a href="{% url 'order_list' %}">My Orders</a></li>
                            <li><a href="{% url 'track_order' %}">Order Tracking</a></li>
                        </ul>
                    </details>

                    <details class="footer-mobile-item">
                        <summary>Popular Searches</summary>
                        <ul>
                            {% if header_categories %}
                                {% for category in header_categories|slice:":6" %}
                                    <li><a href="{% url 'shop' %}?category={{ category.key }}">{{ category.label }}</a></li>
                                {% endfor %}
                            {% else %}
                                <li><a href="{% url 'shop' %}">Women Wear</a></li>
                                <li><a href="{% url 'shop' %}">Watch</a></li>
                                <li><a href="{% url 'shop' %}">Home &amp; Kitchen</a></li>
                                <li><a href="{% url 'shop' %}">Jewellery</a></li>
                                <li><a href="{% url 'shop' %}">Mens Wear</a></li>
                                <li><a href="{% url 'shop' %}">Beauty &amp; Shoes</a></li>
                            {% endif %}
                        </ul>
                    </details>

                    <details class="footer-mobile-item">
                        <summary>Latest Design</summary>
                        <ul>
                            {% if header_categories %}
                                {% for category in header_categories|slice:"6:12" %}
                                    <li><a href="{% url 'shop' %}?category={{ category.key }}">{{ category.label }}</a></li>
                                {% empty %}
                                    <li><a href="{% url 'blog' %}">Blog</a></li>
                                    <li><a href="{% url 'shop' %}">New Arrivals</a></li>
                                    <li><a href="{% url 'shop' %}">Top Featured Products</a></li>
                                {% endfor %}
                            {% else %}
                                <li><a href="{% url 'shop' %}">New Arrivals</a></li>
                                <li><a href="{% url 'shop' %}">Best Seller</a></li>
                                <li><a href="{% url 'shop' %}">Top Deals</a></li>
                            {% endif %}
                        </ul>
                    </details>

                    <details class="footer-mobile-item">
                        <summary>Traditional Wear</summary>
                        <ul>
                            <li><a href="{% url 'shop' %}">Women Wear</a></li>
                            <li><a href="{% url 'shop' %}">Mens Wear</a></li>
                            <li><a href="{% url 'shop' %}">Jewellery</a></li>
                            <li><a href="{% url 'shop' %}">Beauty &amp; Shoes</a></li>
                        </ul>
                    </details>

                    <details class="footer-mobile-item">
                        <summary>Contact Us</summary>
                        <ul>
                            <li><a href="{% url 'contact' %}">Contact Page</a></li>
                            <li><a href="mailto:{{ site_settings.contact_email|default:'support@vibemall.com' }}">{{ site_settings.contact_email|default:"support@vibemall.com" }}</a></li>
                            <li><a href="{% url 'faq' %}">Support 24/7</a></li>
                        </ul>
                    </details>
                </div>

                <div class="footer-mobile-social">
                    <a href="#" class="facebook" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="x" aria-label="X"><i class="fab fa-x-twitter"></i></a>
                    <a href="#" class="instagram" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="pinterest" aria-label="Pinterest"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#" class="youtube" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="whatsapp" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                </div>

                <div class="footer-mobile-badges">
                    <h6>Shipping Partners:</h6>
                    <div class="footer-mobile-chip-row">
                        <span class="footer-mobile-chip">FedEx</span>
                        <span class="footer-mobile-chip">BLUE DART</span>
                        <span class="footer-mobile-chip">DTDC</span>
                    </div>
                </div>

                <div class="footer-mobile-badges">
                    <h6>We Accept:</h6>
                    <div class="footer-mobile-chip-row">
                        <span class="footer-mobile-chip">VISA</span>
                        <span class="footer-mobile-chip">MasterCard</span>
                        <span class="footer-mobile-chip">American Express</span>
                        <span class="footer-mobile-chip">PayPal</span>
                        <span class="footer-mobile-chip">UPI</span>
                        <span class="footer-mobile-chip">RuPay</span>
                    </div>
                </div>

                <div class="footer-mobile-copy">
                    <p>Copyright © <span>{{ site_settings.site_name|default:"VibeMall" }}</span>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
