{% load static %}
<header class="header d-blue-bg">
    
    <div class="header-top">
        <div class="container">
            <div class="header-inner">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-1 d-none d-lg-block">
                       
                    </div>
                    <div class="col-xl-10 col-lg-11 d-none d-lg-block">
                        <div class="header-inner-end text-md-end">
                            <div class="ovic-menu-wrapper">
                                <ul>
                                    {% for link in header_links %}
                                        <li><a href="{% url link.url_name %}">{{ link.label }}</a></li>
                                    {% endfor %}
                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                        {% endif %}

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mid">
        <div class="container">
            <div class="heade-mid-inner">
                <div class="row align-items-center">
                    <div class="col-auto d-lg-none mobile-menu-col">
                        <button type="button" class="mobile-menu-btn offcanvas-toggle-btn" aria-label="Open menu">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 header-logo-col">
                        <div class="header__info">
                            <a href="{% url 'index' %}" class="logo">
                                {% if site_settings and site_settings.site_logo %}
                                    <img class="logo-image logo-image--dynamic" src="{{ site_settings.site_logo.url }}" alt="{{ site_settings.site_name }}">
                                    <img class="logo-image logo-image--mobile-brand" src="{% static 'assets/img/logo/vibemall-brand.png' %}" alt="{{ site_settings.site_name|default:'VibeMall' }}">
                                {% else %}
                                    <img class="logo-image logo-image--mobile-brand" src="{% static 'assets/img/logo/vibemall-brand.png' %}" alt="{{ site_settings.site_name|default:'VibeMall' }}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="col-auto d-lg-none mobile-icons">
                        <a class="mobile-icon" href="{% url 'profile' %}" aria-label="Profile">
                            <i class="flaticon-user"></i>
                        </a>
                        <a class="mobile-icon" href="{% url 'wishlist' %}" aria-label="Wishlist">
                            <i class="flaticon-heart"></i>
                            <span class="count wishlist-count">{{ wishlist_count|default:"0" }}</span>
                        </a>
                        <a class="mobile-icon" href="{% url 'cart' %}" aria-label="Cart">
                            <i class="flaticon-shopping-bag"></i>
                            <span class="count cart-count">{{ cart_count }}</span>
                        </a>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block header-search-col">
                        <div class="header__search">
                            <form action="{% url 'shop' %}" method="get">
                                <div class="header__search-box search-suggest">
                                    <input
                                        class="search-input"
                                        id="mainSearchInput"
                                        name="q"
                                        type="text"
                                        placeholder="I'm shopping for..."
                                        autocomplete="off"
                                        data-search-url="{% url 'product_search_api' %}"
                                        data-placeholder-image="{% static 'assets/img/product/tp-1.jpg' %}">
                                    <button class="button" type="submit"><i class="far fa-search"></i></button>
                                    <div id="mainSearchResults" class="search-results"></div>
                                </div>
                                <div class="header__search-cat">
                                    <select>
                                        <option value="">All Categories</option>
                                        {% for category in header_categories %}
                                            <option value="{{ category.key }}">{{ category.label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 d-none d-lg-block header-action-col">
                        <div class="header-action header-action--mobile">
                    <div class="block-userlink">
                            {% if user.is_authenticated %}
                                <a class="icon-link" href="{% url 'profile' %}">
                                    {% if user.userprofile.profile_image and 'default.png' not in user.userprofile.profile_image.url %}
                                        <img class="profile-avatar" src="{{ user.userprofile.profile_image.url }}" alt="{{ user.username }}">
                                    {% else %}
                                        <i class="flaticon-user profile-icon"></i>
                                    {% endif %}
                                    <span class="text">
                                        <span class="sub">VibeMall</span>
                                        <span class="main-label">My Account</span>
                                    </span>
                                </a>
                            {% else %}
                                <a class="icon-link" href="{% url 'login' %}">
                                    <i class="flaticon-user profile-icon"></i>
                                    <span class="text">
                                        <span class="sub">VibeMall</span>
                                        <span class="main-label">My Account</span>
                                    </span>
                                </a>
                            {% endif %}
                    </div>

                            <div class="block-wishlist action">
                                <a class="icon-link" href="{% url 'wishlist' %}">
                                <i class="flaticon-heart"></i>
                                <span class="count wishlist-count">{{ wishlist_count|default:"0" }}</span>
                                <span class="text">
                                <span class="sub">Favorite</span>
                                <span class="main-label">My Wishlist</span>
                                </span>
                                </a>
                            </div>
                            <div class="block-cart action">
                                <a class="icon-link" href="{% url 'cart' %}">
                                <i class="flaticon-shopping-bag"></i>
                                <span class="count cart-count">{{ cart_count }}</span>
                                <span class="text">
                                <span class="sub">Your Cart:</span>
                                <span class="main-label">&#8377;<span class="cart-total">{{ cart_total|default:"0.00" }}</span></span>
                                </span>
                                </a>
                                <div class="cart">
                                    <div class="cart__mini" id="miniCartContent">
                                        {% include 'partials/mini_cart.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="row g-0 align-items-center">
                <div class="col-lg-3">                       
                    <div class="cat__menu-wrapper side-border d-none d-lg-block">
                        <div class="cat-toggle">
                            <button type="button" class="cat-toggle-btn cat-toggle-btn-1"><i class="fal fa-bars"></i> Shop by department</button>
                            <div class="cat__menu">
                                <nav id="mobile-menu" style="display: block;">
                                    <ul>
                                        <li>
                                            <a href="{% url 'shop' %}">All Categories</a>
                                        </li>
                                        {% if header_categories %}
                                            {% for category in header_categories %}
                                            <li>
                                                <a href="{% url 'shop' %}?category={{ category.key|urlencode }}">
                                                    {{ category.label }}
                                                    {% if category.badge_text %}
                                                        <span class="cat-label{% if category.badge_class %} {{ category.badge_class }}{% endif %}">{{ category.badge_text|lower }}</span>
                                                    {% endif %}
                                                    {% if category.has_children %}
                                                        <i class="far fa-angle-down"></i>
                                                    {% endif %}
                                                </a>
                                                {% if category.sub_categories %}
                                                <ul class="submenu">
                                                    {% for sub in category.sub_categories %}
                                                    <li>
                                                        <a href="{% url 'shop' %}?category={{ category.key|urlencode }}&sub_category={{ sub.name|urlencode }}">
                                                            {{ sub.name }}
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        {% else %}
                                            <li><a href="{% url 'shop' %}">Women Wear</a></li>
                                            <li><a href="{% url 'shop' %}">Watch</a></li>
                                            <li><a href="{% url 'shop' %}">Home &amp; Kitchen</a></li>
                                            <li><a href="{% url 'shop' %}">Jewellery</a></li>
                                            <li><a href="{% url 'shop' %}">Mens Wear</a></li>
                                            <li><a href="{% url 'shop' %}">Beauty &amp; Shoes</a></li>
                                            <li><a href="{% url 'shop' %}">GenZ Trends</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-6 col-3">
                    <div class="header__bottom-left d-flex d-xl-block align-items-center">
                        <div class="side-menu d-lg-none mr-20">
                            <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i class="fas fa-bars"></i></button>
                        </div>
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="{% url 'index' %}" class="active">Home </a>
                                    </li>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li class="has-mega"><a href="{% url 'shop' %}">Shop <i class="far fa-angle-down"></i></a>
                                        <div class="mega-menu">
                                            <div class="container container-mega">
                                                <ul class="mega-menu-grid">
                                                    <li>
                                                        <ul>
                                                        <li class="title"><a href="{% url 'shop' %}">Categories</a></li>
                                                        <li><a href="{% url 'shop' %}">All Categories</a></li>
                                                        {% if header_categories %}
                                                            {% for category in header_categories %}
                                                            <li><a href="{% url 'shop' %}?category={{ category.key|urlencode }}">{{ category.label }}</a></li>
                                                            {% endfor %}
                                                        {% else %}
                                                            <li><a href="{% url 'shop' %}">Women Wear</a></li>
                                                            <li><a href="{% url 'shop' %}">Watch</a></li>
                                                            <li><a href="{% url 'shop' %}">Home &amp; Kitchen</a></li>
                                                            <li><a href="{% url 'shop' %}">Jewellery</a></li>
                                                            <li><a href="{% url 'shop' %}">Mens Wear</a></li>
                                                            <li><a href="{% url 'shop' %}">Beauty &amp; Shoes</a></li>
                                                            <li><a href="{% url 'shop' %}">GenZ Trends</a></li>
                                                        {% endif %}
                                                        </ul>
                                                    </li>
                                                    {% if header_categories %}
                                                        {% for category in header_categories %}
                                                        <li>
                                                            <ul>
                                                            <li class="title">
                                                                <a href="{% url 'shop' %}?category={{ category.key|urlencode }}">{{ category.label }}</a>
                                                            </li>
                                                            {% if category.sub_categories %}
                                                                {% for sub in category.sub_categories %}
                                                                <li>
                                                                    <a href="{% url 'shop' %}?category={{ category.key|urlencode }}&sub_category={{ sub.name|urlencode }}">{{ sub.name }}</a>
                                                                </li>
                                                                {% endfor %}
                                                            {% else %}
                                                                <li><a href="{% url 'shop' %}?category={{ category.key|urlencode }}">View Products</a></li>
                                                            {% endif %}
                                                            </ul>
                                                        </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="offer mt-40">
                                                {% if header_offer_coupon %}
                                                <p>
                                                    <b>{{ header_offer_heading }}</b>
                                                    {{ header_offer_message }}
                                                    <b>{{ header_offer_coupon.code }}</b>
                                                </p>
                                                {% else %}
                                                <p><b>30% OFF</b> the shipping of your first order with the code: <b>DUKA-SALE30</b></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="{% url 'blog' %}">Blog <i class="far fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'blog' %}">Blog</a></li>
                                            <li><a href="{% url 'blog-details' %}">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'order_list' %}">My Orders</a></li>
                                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                    {% if user.is_staff %}
                                    <li>
                                        <a href="javascript:void(0);">Admin <i class="far fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'admin_dashboard' %}"><i class="fal fa-tachometer-alt"></i> Dashboard</a></li>
                                            <li><a href="{% url 'admin_add_product' %}"><i class="fal fa-plus-circle"></i> Add Product</a></li>
                                            <li><a href="{% url 'admin_product_list' %}"><i class="fal fa-list"></i> Product List</a></li>
                                            <li><a href="{% url 'admin_reviews' %}"><i class="fal fa-star"></i> Manage Reviews</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-9">
                    <div class="shopeing-text text-sm-end">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<link rel="stylesheet" href="{% static 'assets/css/header-custom.css' %}">
<script>
document.addEventListener('DOMContentLoaded', function () {
    const escapeHtml = (value) => String(value || '')
        .replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/"/g, '&quot;')
        .replace(/'/g, '&#39;');

    const createProductMarkup = (items, placeholderImage, withSectionTitle) => {
        if (!items.length) {
            return '';
        }

        const title = withSectionTitle ? '<div class="search-section-label">Products</div>' : '';
        const content = items.map((item) => {
            const imageUrl = escapeHtml(item.image_url || placeholderImage);
            const name = escapeHtml(item.name);
            const url = escapeHtml(item.url);
            const priceDisplay = escapeHtml(item.price_display);
            return `
                <a class="search-item" href="${url}">
                    <img class="search-thumb" src="${imageUrl}" alt="${name}">
                    <span class="search-meta">
                        <span class="search-name">${name}</span>
                        <span class="search-price">&#8377;${priceDisplay}</span>
                    </span>
                </a>
            `;
        }).join('');

        return `${title}${content}`;
    };

    const createQuickLinkMarkup = (items) => {
        if (!items.length) {
            return '';
        }

        const content = items.map((item) => `
            <a class="search-item search-item--link" href="${escapeHtml(item.url)}">
                <span class="search-thumb search-thumb--icon">
                    <i class="far fa-compass"></i>
                </span>
                <span class="search-meta">
                    <span class="search-name">${escapeHtml(item.label)}</span>
                    <span class="search-price">Quick Link</span>
                </span>
            </a>
        `).join('');

        return `<div class="search-section-label">Quick Links</div>${content}`;
    };

    const setupHeaderSearch = (config) => {
        const input = document.getElementById(config.inputId);
        const resultsBox = document.getElementById(config.resultsId);
        if (!input || !resultsBox) {
            return;
        }

        const form = input.closest('form');
        const searchUrl = input.dataset.searchUrl;
        const placeholderImage = input.dataset.placeholderImage;
        const navRoot = config.navSelector ? document.querySelector(config.navSelector) : null;
        const navEmpty = config.navEmptyId ? document.getElementById(config.navEmptyId) : null;
        const navItems = navRoot ? Array.from(navRoot.querySelectorAll('li')).map((element) => {
            const link = element.querySelector('a');
            if (!link) {
                return null;
            }
            return {
                element,
                label: (link.textContent || '').trim(),
                url: link.href,
            };
        }).filter(Boolean) : [];

        let debounceTimer;
        let activeRequestId = 0;

        const closeResults = () => {
            resultsBox.innerHTML = '';
            resultsBox.classList.remove('is-open');
        };

        const updateNavFilter = (query) => {
            if (!navItems.length) {
                return [];
            }

            const normalizedQuery = query.toLowerCase();
            const matches = [];

            navItems.forEach((item) => {
                const isMatch = !normalizedQuery || item.label.toLowerCase().includes(normalizedQuery);
                item.element.hidden = !isMatch;
                if (normalizedQuery && isMatch) {
                    matches.push(item);
                }
            });

            if (navEmpty) {
                navEmpty.hidden = !normalizedQuery || matches.length > 0;
            }

            return matches.slice(0, 5);
        };

        const renderCombinedResults = (query, productItems) => {
            const quickLinks = updateNavFilter(query);
            const sections = [];

            if (quickLinks.length) {
                sections.push(createQuickLinkMarkup(quickLinks));
            }

            if (productItems.length) {
                sections.push(createProductMarkup(productItems, placeholderImage, quickLinks.length > 0));
            }

            if (!sections.length) {
                resultsBox.innerHTML = '<div class="search-empty">No matches found.</div>';
                resultsBox.classList.add('is-open');
                return;
            }

            resultsBox.innerHTML = sections.join('');
            resultsBox.classList.add('is-open');
        };

        const handleSearch = () => {
            const query = input.value.trim();
            const quickLinks = updateNavFilter(query);

            if (!query) {
                closeResults();
                return;
            }

            if (query.length < 2) {
                if (quickLinks.length) {
                    resultsBox.innerHTML = createQuickLinkMarkup(quickLinks);
                    resultsBox.classList.add('is-open');
                } else {
                    closeResults();
                }
                return;
            }

            activeRequestId += 1;
            const requestId = activeRequestId;

            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(() => {
                fetch(`${searchUrl}?q=${encodeURIComponent(query)}`)
                    .then((response) => response.json())
                    .then((data) => {
                        if (requestId !== activeRequestId) {
                            return;
                        }
                        renderCombinedResults(query, data.results || []);
                    })
                    .catch(() => {
                        if (requestId !== activeRequestId) {
                            return;
                        }
                        if (quickLinks.length) {
                            resultsBox.innerHTML = `${createQuickLinkMarkup(quickLinks)}<div class="search-empty">Product search is unavailable right now.</div>`;
                        } else {
                            resultsBox.innerHTML = '<div class="search-empty">Unable to search right now.</div>';
                        }
                        resultsBox.classList.add('is-open');
                    });
            }, 250);
        };

        input.addEventListener('input', handleSearch);
        input.addEventListener('keydown', function (event) {
            if (event.key === 'Escape') {
                input.value = '';
                updateNavFilter('');
                closeResults();
                input.blur();
            }
        });

        if (form) {
            form.addEventListener('submit', function (event) {
                if (!input.value.trim()) {
                    event.preventDefault();
                    closeResults();
                }
            });
        }

        document.addEventListener('click', function (event) {
            if (!resultsBox.contains(event.target) && event.target !== input) {
                closeResults();
            }
        });
    };

    setupHeaderSearch({
        inputId: 'mainSearchInput',
        resultsId: 'mainSearchResults',
    });

    setupHeaderSearch({
        inputId: 'mobileSearchInput',
        resultsId: 'mobileSearchResults',
        navSelector: '#mobileSearchNav',
        navEmptyId: 'mobileSearchNavEmpty',
    });
});
</script>

<div class="offcanvas__area">
        <div class="offcanvas__wrapper">
        <div class="offcanvas__close">
            <button class="offcanvas__close-btn" id="offcanvas__close-btn">
                <i class="fal fa-times"></i>
            </button>
        </div>
        <div class="offcanvas__content">
            <div class="offcanvas__logo mb-40">
                <a href="{% url 'index' %}">
                <span class="offcanvas-logo-text">VibeMall</span>
                </a>
            </div>
            <div class="offcanvas__search mb-25">
                <form action="{% url 'shop' %}" method="get">
                    <div class="search-suggest offcanvas-search-suggest">
                        <input
                            id="mobileSearchInput"
                            name="q"
                            type="text"
                            class="search-input"
                            placeholder="Search products, pages, categories..."
                            autocomplete="off"
                            data-search-url="{% url 'product_search_api' %}"
                            data-placeholder-image="{% static 'assets/img/product/tp-1.jpg' %}">
                        <button type="submit"><i class="far fa-search"></i></button>
                        <div id="mobileSearchResults" class="search-results offcanvas-search-results"></div>
                    </div>
                </form>
            </div>
            <div class="mobile-menu fix d-none" aria-hidden="true"></div>
            <nav class="offcanvas-custom-menu" id="mobileSearchNav" aria-label="Mobile menu">
                <ul>
                    <li><a href="{% url 'shop' %}">All Categories</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'order_list' %}">My Orders</a></li>
                    <li><a href="{% url 'track_order' %}">Order Tracking</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li><a href="{% url 'admin_dashboard' %}">Admin</a></li>
                    {% endif %}
                </ul>
            </nav>
            <p id="mobileSearchNavEmpty" class="offcanvas-search-nav-empty" hidden>No menu items match your search.</p>
            <div class="offcanvas__action">

            </div>
        </div>
        </div>
    </div>
    <div class="body-overlay"></div>

