{% load static %}
<header class="header d-blue-bg">
    <div class="header-top">
        <div class="container">
            <div class="header-inner">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-1 d-none d-lg-block">
                        <span class="header-live-line">ATELIER ORDERS OVER $500 - SEASONAL CURATIONS NOW LIVE - LIMITED EDITION SILK DROPS</span>
                    </div>
                    <div class="col-xl-10 col-lg-11 d-none d-lg-block">
                        <div class="header-inner-end text-md-end">
                            <div class="ovic-menu-wrapper">
                                <ul>
                                    {% for link in header_links %}
                                        <li><a href="{% url link.url_name %}">{{ link.label }}</a></li>
                                    {% endfor %}
                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mid">
        <div class="container">
            <div class="heade-mid-inner">
                <div class="row align-items-center">
                    <div class="col-auto d-lg-none mobile-menu-col">
                        <button type="button" class="mobile-menu-btn offcanvas-toggle-btn" aria-label="Open menu">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 header-logo-col">
                        <div class="header__info">
                            <a href="{% url 'index' %}" class="logo">
                                {% if site_settings and site_settings.site_logo %}
                                    <img class="logo-image logo-image--dynamic" src="{{ site_settings.site_logo.url }}" alt="{{ site_settings.site_name }}">
                                    <img class="logo-image logo-image--mobile-brand" src="{% static 'assets/img/logo/vibemall-brand.png' %}" alt="{{ site_settings.site_name|default:'VibeMall' }}">
                                {% else %}
                                    <img class="logo-image logo-image--mobile-brand" src="{% static 'assets/img/logo/vibemall-brand.png' %}" alt="{{ site_settings.site_name|default:'VibeMall' }}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="col-auto d-lg-none mobile-icons">
                        <button type="button" class="mobile-icon offcanvas-toggle-btn mobile-search-trigger" aria-label="Search products">
                            <i class="far fa-search"></i>
                        </button>
                        <a class="mobile-icon" href="{% url 'wishlist' %}" aria-label="Wishlist">
                            <i class="flaticon-heart"></i>
                            <span class="count wishlist-count">{{ wishlist_count|default:"0" }}</span>
                        </a>
                        <a class="mobile-icon" href="{% url 'cart' %}" aria-label="Cart">
                            <i class="flaticon-shopping-bag"></i>
                            <span class="count cart-count">{{ cart_count }}</span>
                        </a>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block header-search-col">
                        <div class="header__search">
                            <form action="{% url 'shop' %}" method="get">
                                <div class="header__search-box search-suggest">
                                    <input
                                        class="search-input"
                                        id="mainSearchInput"
                                        name="q"
                                        type="text"
                                        placeholder="I'm shopping for..."
                                        autocomplete="off"
                                        data-search-url="{% url 'product_search_api' %}"
                                        data-placeholder-image="{% static 'assets/img/product/tp-1.jpg' %}">
                                    <button class="button" type="submit"><i class="far fa-search"></i></button>
                                    <div id="mainSearchResults" class="search-results"></div>
                                </div>
                                <div class="header__search-cat">
                                    <select>
                                        <option value="">All Categories</option>
                                        {% for category in header_categories %}
                                            <option value="{{ category.key }}">{{ category.label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 d-none d-lg-block header-action-col">
                        <div class="header-action header-action--mobile">
                    <div class="block-userlink">
                            {% if user.is_authenticated %}
                                <a class="icon-link" href="{% url 'profile' %}">
                                    {% if user.userprofile.profile_image and 'default.png' not in user.userprofile.profile_image.url %}
                                        <img class="profile-avatar" src="{{ user.userprofile.profile_image.url }}" alt="{{ user.username }}">
                                    {% else %}
                                        <i class="flaticon-user profile-icon"></i>
                                    {% endif %}
                                    <span class="text">
                                        <span class="sub">VibeMall</span>
                                        <span class="main-label">My Account</span>
                                    </span>
                                </a>
                            {% else %}
                                <a class="icon-link" href="{% url 'login' %}">
                                    <i class="flaticon-user profile-icon"></i>
                                    <span class="text">
                                        <span class="sub">VibeMall</span>
                                        <span class="main-label">My Account</span>
                                    </span>
                                </a>
                            {% endif %}
                    </div>

                            <div class="block-wishlist action">
                                <a class="icon-link" href="{% url 'wishlist' %}">
                                <i class="flaticon-heart"></i>
                                <span class="count wishlist-count">{{ wishlist_count|default:"0" }}</span>
                                <span class="text">
                                <span class="sub">Favorite</span>
                                <span class="main-label">My Wishlist</span>
                                </span>
                                </a>
                            </div>
                            <div class="block-cart action">
                                <a class="icon-link" href="{% url 'cart' %}">
                                <i class="flaticon-shopping-bag"></i>
                                <span class="count cart-count">{{ cart_count }}</span>
                                <span class="text">
                                <span class="sub">Your Cart:</span>
                                <span class="main-label">&#8377;<span class="cart-total">{{ cart_total|default:"0.00" }}</span></span>
                                </span>
                                </a>
                                <div class="cart">
                                    <div class="cart__mini" id="miniCartContent">
                                        {% include 'partials/mini_cart.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="row g-0 align-items-center">

                <div class="col-lg-9 col-md-6 col-3">
                    <div class="header__bottom-left d-flex d-xl-block align-items-center">
                        <div class="side-menu d-lg-none mr-20">
                            <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i class="fas fa-bars"></i></button>
                        </div>
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="{% url 'index' %}" class="active">Home </a>
                                    </li>
                                    <li class="has-mega"><a href="{% url 'shop' %}">Shop <i class="far fa-angle-down"></i></a>
                                        <div class="mega-menu">
                                            <div class="container container-mega">
                                                <ul class="mega-menu-grid">
                                                    <li>
                                                        <ul>
                                                        <li class="title"><a href="{% url 'shop' %}">Categories</a></li>
                                                        <li><a href="{% url 'shop' %}">All Categories</a></li>
                                                        {% if header_categories %}
                                                            {% for category in header_categories %}
                                                            <li><a href="{% url 'shop' %}?category={{ category.key|urlencode }}">{{ category.label }}</a></li>
                                                            {% endfor %}
                                                        {% else %}
                                                            <li><a href="{% url 'shop' %}">Women Wear</a></li>
                                                            <li><a href="{% url 'shop' %}">Watch</a></li>
                                                            <li><a href="{% url 'shop' %}">Home &amp; Kitchen</a></li>
                                                            <li><a href="{% url 'shop' %}">Jewellery</a></li>
                                                            <li><a href="{% url 'shop' %}">Mens Wear</a></li>
                                                            <li><a href="{% url 'shop' %}">Beauty &amp; Shoes</a></li>
                                                            <li><a href="{% url 'shop' %}">GenZ Trends</a></li>
                                                        {% endif %}
                                                        </ul>
                                                    </li>
                                                    {% if header_categories %}
                                                        {% for category in header_categories %}
                                                        <li>
                                                            <ul>
                                                            <li class="title">
                                                                <a href="{% url 'shop' %}?category={{ category.key|urlencode }}">{{ category.label }}</a>
                                                            </li>
                                                            {% if category.sub_categories %}
                                                                {% for sub in category.sub_categories %}
                                                                <li>
                                                                    <a href="{% url 'shop' %}?category={{ category.key|urlencode }}&sub_category={{ sub.name|urlencode }}">{{ sub.name }}</a>
                                                                </li>
                                                                {% endfor %}
                                                            {% else %}
                                                                <li><a href="{% url 'shop' %}?category={{ category.key|urlencode }}">View Products</a></li>
                                                            {% endif %}
                                                            </ul>
                                                        </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="offer mt-40">
                                                {% if header_offer_coupon %}
                                                <p>
                                                    <b>{{ header_offer_heading }}</b>
                                                    {{ header_offer_message }}
                                                    <b>{{ header_offer_coupon.code }}</b>
                                                </p>
                                                {% else %}
                                                <p><b>30% OFF</b> the shipping of your first order with the code: <b>DUKA-SALE30</b></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'blog' %}">Blog <i class="far fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'blog' %}">Blog</a></li>
                                            <li><a href="{% url 'blog-details' %}">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'order_list' %}">My Orders</a></li>
                                    {% if has_reseller_dashboard_access %}
                                    <li><a href="{% url 'reseller_dashboard' %}">Reseller Dashboard</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                    {% if user.is_staff %}
                                    <li>
                                        <a href="javascript:void(0);">Admin <i class="far fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'admin_dashboard' %}"><i class="fal fa-tachometer-alt"></i> Dashboard</a></li>
                                            <li><a href="{% url 'admin_add_product' %}"><i class="fal fa-plus-circle"></i> Add Product</a></li>
                                            <li><a href="{% url 'admin_product_list' %}"><i class="fal fa-list"></i> Product List</a></li>
                                            <li><a href="{% url 'admin_reviews' %}"><i class="fal fa-star"></i> Manage Reviews</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-9">
                    <div class="shopeing-text text-sm-end">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<link rel="stylesheet" href="{% static 'assets/css/header-custom.css' %}">
<script>
document.addEventListener('DOMContentLoaded', function () {
    function setupSearch(inputId, resultsId) {
        const input = document.getElementById(inputId);
        const resultsBox = document.getElementById(resultsId);
        if (!input || !resultsBox) return;

        const searchUrl = input.dataset.searchUrl;
        const placeholderImage = input.dataset.placeholderImage;
        let debounceTimer;

        const clearResults = () => {
            resultsBox.innerHTML = '';
            resultsBox.classList.remove('is-open');
        };

        const renderResults = (items) => {
            if (!items.length) {
                resultsBox.innerHTML = '<div class="search-empty">No products found.</div>';
                resultsBox.classList.add('is-open');
                return;
            }

            resultsBox.innerHTML = items.map((item) => {
                const imageUrl = item.image_url || placeholderImage;
                return `
                    <a class="search-item" href="${item.url}">
                        <img class="search-thumb" src="${imageUrl}" alt="${item.name}">
                        <span class="search-meta">
                            <span class="search-name">${item.name}</span>
                            <span class="search-price">&#8377;${item.price_display}</span>
                        </span>
                    </a>
                `;
            }).join('');
            resultsBox.classList.add('is-open');
        };

        input.addEventListener('input', function () {
            const query = input.value.trim();
            if (query.length < 2) {
                clearResults();
                return;
            }

            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(() => {
                fetch(`${searchUrl}?q=${encodeURIComponent(query)}`)
                    .then((response) => response.json())
                    .then((data) => renderResults(data.results || []))
                    .catch(() => {
                        resultsBox.innerHTML = '<div class="search-empty">Unable to search right now.</div>';
                        resultsBox.classList.add('is-open');
                    });
            }, 250);
        });

        document.addEventListener('click', function (event) {
            if (!resultsBox.contains(event.target) && event.target !== input) {
                clearResults();
            }
        });
    }

    setupSearch('mainSearchInput', 'mainSearchResults');
    setupSearch('mobileSearchInput', 'mobileSearchResults');

    const mobileSearchInput = document.getElementById('mobileSearchInput');

    const blurMobileSearch = () => {
        if (mobileSearchInput) {
            mobileSearchInput.blur();
        }
    }

    document.querySelectorAll('.mobile-search-trigger').forEach((trigger) => {
        trigger.addEventListener('click', function () {
            window.setTimeout(() => {
                if (mobileSearchInput) {
                    try {
                        mobileSearchInput.focus({ preventScroll: true });
                    } catch (error) {
                        mobileSearchInput.focus();
                    }
                }
            }, 250);
        });
    });

    const offcanvasCloseButton = document.getElementById('offcanvas__close-btn');
    if (offcanvasCloseButton) {
        offcanvasCloseButton.addEventListener('click', blurMobileSearch);
    }

    const bodyOverlay = document.querySelector('.body-overlay');
    if (bodyOverlay) {
        bodyOverlay.addEventListener('click', blurMobileSearch);
    }
});
</script>

<div class="offcanvas__area">
        <div class="offcanvas__wrapper">
        <div class="offcanvas__close">
            <button class="offcanvas__close-btn" id="offcanvas__close-btn">
                <i class="fal fa-times"></i>
            </button>
        </div>
        <div class="offcanvas__content">
            <div class="offcanvas__logo mb-40">
                <a href="{% url 'index' %}">
                <span class="offcanvas-logo-text">VibeMall</span>
                </a>
            </div>
            <div class="offcanvas__search mb-25">
                <form action="{% url 'shop' %}" method="get">
                    <div class="search-suggest">
                        <input
                            id="mobileSearchInput"
                            name="q"
                            type="text"
                            placeholder="What are you searching for?"
                            autocomplete="off"
                            data-search-url="{% url 'product_search_api' %}"
                            data-placeholder-image="{% static 'assets/img/product/tp-1.jpg' %}">
                        <button type="submit"><i class="far fa-search"></i></button>
                        <div id="mobileSearchResults" class="search-results offcanvas-search-results"></div>
                    </div>
                </form>
            </div>
            <div class="mobile-menu fix d-none" aria-hidden="true"></div>
            <nav class="offcanvas-custom-menu" aria-label="Mobile menu">
                <ul>
                    <li><a href="{% url 'shop' %}">All Categories</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'order_list' %}">My Orders</a></li>
                    <li><a href="{% url 'track_order' %}">Order Tracking</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li><a href="{% url 'admin_dashboard' %}">Admin</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="offcanvas__action">

            </div>
        </div>
        </div>
    </div>
    <div class="body-overlay"></div>

